name: Deploy to AWS S3

on:
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Usar Node.js
        uses: actions/setup-node@v1
        with:
          node-version: "latest"

      - name: Instalar dependencias
        run: npm install

      - name: Verificar que el proyecto contiene JavaScript
        run: |
          if ! grep -rq "\.js" .; then
            echo "No se encontraron archivos JavaScript. Cancelando..."
            exit 1
          else
            echo "Se encontraron archivos JavaScript."
          fi

      - name: Ejecutar pruebas unitarias
        run: |
          npm test || (echo "Las pruebas fallaron." && exit 1)
          echo "Pruebas unitarias completadas correctamente."

      - name: Generar documentación con JSDoc
        run: |
          echo "Generando documentación con JSDoc..."
          mkdir -p docs
          npx jsdoc -c jsdoc.json || true
          echo "Documentación generada en /docs"

      - name: Configurar AWS Credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-1

      - name: Deploy to AWS S3
        run: aws s3 sync build s3://miweb-ia-demo  --delete
